

@media only screen and (min-width: 981px) {
	/*General*/
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	a{
		text-decoration: none;
		color: black;
	}
	body{
		background-color: #f5debe;
	}
	html {
	  scroll-behavior: smooth;
	}
	abbr{
		background-color: #a01208;
	}
	a {
	  background-color: transparent;
	  text-decoration: none;
	}
	
	a:hover {
	  color: #a01208;
	}
	
	::-webkit-scrollbar {
	  display: none;
	}
	#fondo{
		background-image: url(../IMG/Caratula.png);
		background-repeat: no-repeat;
		background-size: 100% ;
	}
	
	/*h1*/
	h1 {
	  position: absolute;
	  left: 32%;
	  font-family: 'Times New Roman', Times, serif;
	  font-size: 250%;
	  background-color: transparent;
	  height: auto;
	  display: none;
	  z-index: -1;
	}
	
	
	.forma-title {
	  padding-top: 10px;
	  width: 28%;
	  margin-left: 8%;
	  margin-right: 30px;
	  background-color: transparent;
	  position: relative;
	  overflow: hidden;
	  float: left;
	}
	.header-title{
		
	  padding-top: 10px;
	}
	.forma-header{
		width:17%;
		margin-left: 10px;
	}
	
	/*lista*/
	.ul-icons{
		float: right;
		padding: 5px;
		border-radius: 20px;
		border: solid #a01208 4px;
		margin-right: 70px;
		background-color: white;
	}
	.li-icon{
		list-style: none;
	}
	.li-icon img{
		width: 50px;
		border-radius: 30px;
		margin-right: 10%;
	}
	
	
	
	/*Frase*/
	.frase-inicial{
	  margin-left: 8%;
	  margin-top: 8%;
	  clear: both;
	}
	.frase-inicial b{
		color: #a01208;
		font-weight: normal;
	}

	.frase-inicial span{
	  font-size: 80px;
	  padding-top: 200px;
	}
	.p-title{
		background-color: white;
		margin-top: 30px;
		margin-left: 8%;
		margin-right: 15%;
		border-radius: 20px;
		border: solid #a01208 4px;
		text-align: center;
		font-size: 30px;
	}
	.p-title b{
		
		color: #a01208;
		font-weight: normal;
	}
	/*h2*/
	.history-title {
	  padding-top: 50px;
	  font-size: 300%;
	  color: #a01208;
	  text-align: center;
	}
	.history-title-container {
	  margin-bottom: 3%;
	  margin-top: 20px;
	}
	.h2-container{
		background-color: white;
		margin-left: 70px;
		margin-right: 70px;
		font-size: 25px;
		border-radius: 20px;
		text-align: center;
		border: solid #a01208 4px;
	}
	.h2-p b{
		color: #a01208;
		font-weight: normal;
	}
	.utensilios-container{
		margin-left: 90px;
		margin-right: 90px;
		margin-top: 20px;
	}
	.utensilios-container img{
width: 100%;
	}
	/*sales phases*/
	h3{
		padding-top: 50px;
		font-size: 300%;
		text-align: center;
		color: #a01208;
	  }
	
	  .timeline {
		overflow-x: hidden;
		background-color: transparent;
	  }
	  
	  
	  .timeline ol {
		font-size: 0;
		padding: 130px 0;
	  }
	  
	  .timeline ol li {
		position: relative;
		display: inline-block;
		list-style-type: none;
		width: 160px;
		margin-left: 5%;
		height: 3px;
		border-color: #a01208;
		border-style: dashed ;
	  }
	  
	  
	  .timeline ol li:not(:first-child) {
		margin-left: 14px;
	  }
	  
	  .timeline ol li:not(:last-child)::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 99%;
		bottom: 0;
		width: 12px;
		height: 12px;
		transform: translateY(-50%);
		border-radius: 50%;
		background: white;
		border: 2px solid #a01208;
	  }
	  
	  .timeline ol li div {
		position: absolute;
		left: calc(100% + 7px);
		width: fit-content;
		padding: 10px;
		font-size: 1rem;
		white-space: normal;
		color: black;
		background: white;
	  }
	  
	  .timeline ol li div::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
	  }
	  
	  .timeline ol li:nth-child(odd) div {
		top: -16px;
		transform: translateY(-100%);
	  }
	  
	  .timeline ol li:nth-child(odd) div::before {
		top: 100%;
		border-width: 8px 8px 0 0;
		border-color: white transparent transparent transparent;
	  }
	  
	  .timeline ol li:nth-child(even) div {
		top: calc(100% + 16px);
	  }
	  
	  .timeline ol li:nth-child(even) div::before {
		top: -8px;
		border-width: 8px 0 0 8px;
		border-color: transparent transparent transparent white;
	  }
	  
	  .timeline time {
		display: block;
	  }
	  
	  .timeline-ps p{

		background-color: white;
		margin-top: 30px;
		margin-left: 8%;
		margin-right: 15%;
		border-radius: 20px;
		border: solid #a01208 4px;
		text-align: justify;
		padding: 5px;
		font-size: 20px;
	  }
	  .timeline-ps b{
		  
		color: #a01208;
		font-weight: normal;
	  }

	  /*TOKENOMICS*/
	  .tnyr-img{
		width: 70px;
		margin-left: 70px;
		vertical-align: bottom;

	  }
	  .tnyr{
		  width: 200px;
		  margin-left: 20px;
	  }
	  .tokenomics span{
		  text-align: center;
		background-color: white;
		margin-left: 1%;
		border-radius: 20px;
		border: solid #a01208 4px;
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 22px;
	  }
	  .tokenomics p{
		background-color: white;
		margin-top: 30px;
		margin-left: 8%;
		margin-right: 15%;
		border-radius: 20px;
		border: solid #a01208 4px;
		text-align: justify;
		padding: 5px;
		font-size: 20px;
	  }
	  .forma-tokenomics{
		  width: 15%;
		  margin-left: 1%;
	  }
	  .grafica{
		background-color: transparent;
		width: 65%;
		display: block;
		margin: auto;
	}
	/*OUR TEAM*/
	
	.team-h4 {
		padding-top: 50px;
	  font-size: 300%;
	  text-align: center;
	  color: #a01208;
	}
	
   .full-team{
	   
	  display: inline-flex;
	  margin-left: 50px;
	  
  }
  
	.member-team {
	  width: 20%;
	  height: fit-content;
	  margin: 0.2em;
	}
	.name-team {
	  font-size: 150%;
	  overflow: hidden;
	}
	.img-team {
	  width: 100px;
	  height: 150px;
	  align-content: center;
	}
	.img-red-team{
		width: 20px;
	}
	div.member-team p {
	  margin: 2px;
	  text-align: center;
	  font-size: 85%;
	}
	/*imagenes*/
	.img-container {
	  display: inline-flex;
	  color: aqua;
	}
	.img-red {
	  width: 45px;
	  width: 45px;
	  margin: 10px;
	  background-color: transparent;
	}
	.img-red-container {
	  background-color: #a01208;
	}
	.footer {
		clear: both;
	  background-color: #a01208;
	  padding-bottom: 0;
	  margin-bottom: 0;
	}
	.list-footer-li {
	  text-decoration: none;
	}
  }
  /*PARTNERS*/
  h5{
	padding-top: 50px;
	font-size: 300%;
	text-align: center;
	color: #a01208;
  }
  .partners-container{
	  margin-left:100px;
	  margin-top: 20px;
  }
  .partner{
	  margin: 10px;
	  width: 180px;
	  border:1px solid black;
  }
  /*FOOTER*/
  footer{
	  background-color: #a01208;
	  
  }
  footer img{
	  width: 200px;
	  margin-left: 20px;
  }
  .newsletter{
	  float: right;
	  color: white;
	  text-align: center;
	  margin-top: 15px;
  }
  .newsletter input{
	  width: 200px;
	  margin: 0.5rem;
	  border-radius: 10px;
	  justify-content: center;
	  border: 2px black solid;
	  background-color: white;
	  height: 30px;
  }
  
  /* Para 980px */
  
  @media only screen and (max-width: 980px) and (min-width: 821px) {
	/*General*/
	* {
	  
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	a{
		text-decoration: none;
		color: black;
	}
	body{
		background-color: #f5debe;
	}
	html {
	  scroll-behavior: smooth;
	}
	#fondo{
		
		background-image: url(../IMG/Caratula0.png);
		background-repeat: no-repeat;
		background-size: 100% ;
	}
	a:hover {
	  color: #a01208;
	}
	
	::-webkit-scrollbar {
	  display: none;
	}
	/*h1*/
	h1 {
	  position: absolute;
	  left: 32%;
	  display: none;
	  z-index: -1;
	}
	.forma-title {
	  padding-top: 5%;
	  width: 22%;
	  margin: auto;
	  display: block;
	  background-color: transparent;
	  position: relative;
	  overflow: hidden;
	  margin-top: 0px;
	}
	/*Frase*/
	
	/*h2*/
	.history-title {
		padding-top: 50px;
	  font-size: 300%;
	  color: #F09254;
	  text-align: center;
	}
	.history-title-container {
	  
	  margin-top: 25px;
	}
	
	
	/*OUR TEAM*/
	
	.team-h4 {
	  font-size: 37px;
	  text-align: center;
	  color: #a01208;
	}
	.full-team {
	  flex-wrap: wrap;
	  display: inline-flex;
	  margin-left: 15%;
	}
	.member-team {
	  width: 25%;
	  height: fit-content;
	  border: thin silver solid;
	  margin: 0.5em;
	  padding: 0.5em;
	}
	.img-team {
	  width: 130px;
	  height: 220px;
	  align-content: center;
	  border-radius: 10px;
	}
	.img-red-team{
		width: 20px;
	}
	div.member-team p {
	  margin: 2px;
	  text-align: center;
	  font-size: 15px;
	}
	
	/*imagenes*/
	.img-container {
	  display: inline-flex;
	  color: aqua;
	}
	.img-red {
	  width: 40px;
	  width: 40px;
	  margin: 8px;
	  background-color: transparent;
	}
	.img-red-container {
	  background-color: #a01208;
	}
	.footer {
	  background-color: #a01208;
	  padding-bottom: 0;
	  margin-bottom: 0;
	}
	.list-footer-li {
	  text-decoration: none;
	}
  }
  
  /* Para 820px */
  
  @media only screen and (max-width: 820px) and (min-width: 621px) {
	/*General*/
	* {
	
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	a{
		text-decoration: none;
		color: black;
	}
	body{
		background-color: #f5debe;
	}
	html {
	  scroll-behavior: smooth;
	}
	#fondo{
		
		background-image: url(../IMG/Caratula1.png);
		background-repeat: no-repeat;
		background-size: 100% ;
	}
	a {
	  background-color: transparent;
	  color: black;
	}
	a:hover {
	  color: #a01208;
	}
	
	::-webkit-scrollbar {
	  display: none;
	}
	/*h1*/
	h1 {
	  position: absolute;
	  left: 32%;
	  font-family: 'Times New Roman', Times, serif;
	  font-size: 100%;
	  display: none;
	  z-index: -1;
	}
	.forma-title {
	  padding-top: 5%;
	  width: 30%;
	  height: auto;
	  margin: auto;
	  display: block;
	  background-color: transparent;
	}
	/*Frase*/
	
	/*h2*/
	.history-title {
		padding-top: 50px;
	  font-size: 33px;
	  color: #F09254;
	  text-align: center;
	}
	.history-title-container {
	  margin-bottom: 8%;
	  margin-top: 3%;
	}
	
	
	
	/*OUR TEAM*/
	
	.team-h4 {
	  font-size: 33px;
	  text-align: center;
	  color: #a01208;
	}
	.full-team {
	  flex-wrap: wrap;
	  display: inline-flex;
	  margin-left: 15%;
	}
	.member-team {
	  width: 27%;
	  height: fit-content;
	  border: thin silver solid;
	  margin: 0.5em;
	  padding: 0.3em;
	}
	.img-team {
	  width: 130px;
	  height: 220px;
	  align-content: center;
	  border-radius: 10px;
	}
	.img-red-team{
		width: 20px;
	}
	div.member-team p {
	  margin: 2px;
	  text-align: center;
	  font-size: medium;
	}
	/*imagenes*/
	.img-container {
	  display: inline-flex;
	  background-color: #a01208;
	  margin-left: 5%;
	}
	.img-red {
	  width: 45px;
	  width: 45px;
	  margin: 10px;
	  background-color: #a01208;
	}
	.img-red-container {
	  background-color: #a01208;
	}
	.footer {
	  clear: both;
	  background-color: #a01208;
	  padding-bottom: 0;
	  margin-bottom: 0;
	  width: 100%;
	}
	.list-footer-li {
	  text-decoration: none;
	}
  }
  
  /* Para 620px */
  
  @media only screen and (max-width: 620px) and (min-width: 501px) {
	/*General*/
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	a{
		text-decoration: none;
		color: black;
	}
	html {
	  scroll-behavior: smooth;
	}
	body{
		background-color: #f5debe;
	}
	#fondo{
		
		background-image: url(../IMG/Caratula3.png);
		background-repeat: no-repeat;
		background-size: 100% ;
	}
	a {
	  background-color: transparent;
	  color: black;
	}
	a:hover {
	  color: #a01208;
	}
	
	::-webkit-scrollbar {
	  display: none;
	}
	/*h1*/
	h1 {
	  position: absolute;
	  left: 30%;
	  font-family: 'Times New Roman', Times, serif;
	  font-size: 100%;
	  background-color: transparent;
	  height: auto;
	  display: none;
	  z-index: -1;
	}
	.forma-title {
	  padding-top: 5%;
	  width: 40%;
	  height: auto;
	  margin: auto;
	  display: block;
	  background-color: transparent;
	  margin-top: 0px;
	}
	/*Frase*/
	
	/*h2*/
	.history-title {
	  font-size: 35px;
	  color: #F09254;
	  text-align: center;
	}
	.history-title-container {
	  margin-bottom: 8%;
	  margin-top: 5%;
	  padding-top: 40px;
	}
	
	
	/*Tokenomics*/
	.tokenomics {
	  margin-bottom: 50px;
	}
	.tokenomics-container {
	  margin-top: 2%;
	  align-items: center;
	  margin-bottom: 20px;
	}
	.tokenomics-title {
	  font-size: 35px;
	  text-align: center;
	  color: #F09254;
	}
	.tokenomics-grafico-container {
	  margin-left: 50px;
	}
	.tokenomics-grafico {
	  background-color: transparent;
	  width: 80%;
	}
	
	/*OUR TEAM*/
	
	.team-h4 {
		padding-top: 40px;
		padding-bottom: 10px;
	  font-size: 35px;
	  text-align: center;
	  color: #a01208;
	}
	.full-team {
	  display: inline-flex;
	  margin-left: 10%;
	  flex-wrap: wrap;
	}
	.member-team {
	  width: 30%;
	  margin-left: 10%;
	  margin-bottom: 10px;
	  height: fit-content;
	  border: thin silver solid;
	  padding: 0.5em;
	}
	.img-team {
	  width: 100%;
	  height: 210px;
	  align-content: center;
	  border-radius: 10px;
	}
	.img-red-team{
		width: 20px;
	}
	div.member-team p {
	  margin: 2px;
	  text-align: center;
	  font-size: medium;
	}
	/*imagenes*/
	.img-container {
	  display: inline-flex;
	  background-color: #a01208;
	  margin-left: 5%;
	}
	.img-red {
	  width: 45px;
	  width: 45px;
	  margin: 10px;
	  background-color: #a01208;
	}
	.img-red-container {
	  background-color: #a01208;
	}
	.footer {
	  background-color: #a01208;
	  padding-bottom: 0;
	  margin-bottom: 0;
	  width: 100%;
	}
	.list-footer-li {
	  text-decoration: none;
	}
  }
  
  /* Para 500px */
  
  @media only screen and (max-width: 500px) and (min-width: 5px) {
	/*General*/
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	a{
		text-decoration: none;
		color: black;
	}
	body{
		background-color: #f5debe;
	}
	html {
	  scroll-behavior: smooth;
	}
	
	a {
	  background-color: transparent;
	  color: black;
	}
	a:hover {
	  color: #a01208;
	}
	
	::-webkit-scrollbar {
	  display: none;
	}
	/*h1*/
	h1 {
	  position: absolute;
	  left: 32%;
	  font-family: 'Times New Roman', Times, serif;
	  font-size: 250%;
	  background-color: transparent;
	  height: auto;
	  display: none;
	  z-index: -1;
	}
	.forma-title {
	  padding-top: 1%;
	  width: 45%;
	  height: auto;
	  margin: auto;
	  display: block;
	  background-color: transparent;
	  margin-top: 0px;
	}
	/*Frase*/
	
	/*h2*/
	.history-title {
	  font-size: 250%;
	  color: #F09254;
	  text-align: center;
	}
	.history-title-container {
	  margin-bottom: 8%;
	  margin-top: 5%;
	}
	
	
	
	/*OUR TEAM*/
	
	.team-h4 {
	  font-size: 250%;
	  text-align: center;
	  color: #a01208;
	}
	.full-team {
	  flex-wrap: wrap;
	}
	.member-team {
	  margin-bottom: 40px;
	  width: 200px;
	  height: fit-content;
	  border: thin silver solid;
	  margin: 0.8em auto 0 auto;
	  padding: 0.2em;
	}
	.img-team {
	  width: 150px;
	  height: 250px;
	  align-content: center;
	  border-radius: 10px;
	}
	.img-red-team{
		width: 20px;
	}
	div.member-team p {
	  margin: 2px;
	  text-align: center;
	  font-size: medium;
	}
	/*imagenes*/
	.img-container {
	  display: inline-flex;
	  background-color: #a01208;
	  margin-left: 5%;
	}
	.img-red {
	  width: 45px;
	  width: 45px;
	  margin: 10px;
	  background-color: #a01208;
	}
	.img-red-container {
	  background-color: #a01208;
	}
	.footer {
	  background-color: #a01208;
	  margin-top: 40px;
	  padding-bottom: 0;
	  margin-bottom: 0;
	  width: 100%;
	}
	.list-footer-li {
	  text-decoration: none;
	}
}
